body{background: url('../images/bgnoise.png')}
h4{color: #227200;}
.icon{background: url('../images/corss.png') no-repeat; padding-left: 75px; background-size: 67px;}
.github-ribbon{position: absolute; top: 0; right: 0; border: 0; z-index: 100000;}
.footer{text-align: center;padding: 30px 0;margin-top: 70px;border-top: 1px solid #e5e5e5;}
@media (min-width: 979px){
	body{position: relative;padding-top: 60px;}
}